version: 2

defaults: &defaults
  docker:
    - image: circleci/golang:1.15
  working_directory: /go/src/github.com/krzysztofreczek/go-structurizr
  
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: go mod vendor
      - run: go test -v ./...
      - run: go build ./...
  build-examples:
    <<: *defaults
    steps:
      - checkout
      - run
          name: Mock CLI tooling
          command: alias which="echo" && alias plantuml="echo"
      - run:
          name: Run example
          command: cd cmd/example && sh example.sh
      - run:
          name: Run example-yaml
          command: cd cmd/example-yaml && sh example.sh
  release:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: "Publish Release on GitHub"
          command: |
            . ./scripts/next_version.sh
            VERSION=$(next_version $(git describe --tags --abbrev=0) 2)

            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${VERSION}

workflows:
  version: 2
  build-release:
    jobs:
      - build
      - build-examples
      - release:
          requires:
            - build
            - build-examples
          filters:
            branches:
              only: master
              
